{% extends 'base.html.twig' %}
{% block title %}EcoRide - Accueil{% endblock %}
{% block body %}
    <img src="{{ asset('assets/logo-ecoride.webp') }}" alt="Logo EcoRide"/>
    <div class="px-4 py-3 my-3 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">EcoRide</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-3 ">La plateforme principale pour les voyageurs soucieux de l’environnement et qui cherchent une solution économique pour leurs déplacements.</p>
        </div>
    </div>
    <div class="container">
        <div class="row text-center justify-content-between">
            <div class="col-md-4 my-2 d-flex">
                <div class="card">
                    <img src=" uploads/voiture-electrique.jpg" class="card-img-top" style="width:400px; height:auto" alt="Desc">
                </div>
            </div>
            <div class="col-md-4 my-2 d-flex">
                <div class="card">
                    <img src=" uploads/trajet-covoiturage.jpg" class="card-img-top" style="width:400px; height:auto" alt="Desc">
                </div>
            </div>
                <div class="col-md-4 my-2 d-flex">
                    <div class="card">
                        <img src=" uploads/passager-covoiturage.jpg" class="card-img-top" style="width:400px; height:auto" alt="Desc">
                    </div>
                </div>
            <div class="col-md-4 my-2 d-flex">
                <div class="card">
                    <img src=" uploads/itineraire-covoiturage.jpg" class="card-img-top" style="width:400px; height:auto" alt="Desc">
                </div>
            </div>
            <div class="col-md-4 my-2 d-flex">
                <div class="card">
                    <img src=" uploads/voiture-electrique.jpg" class="card-img-top" style="width:400px; height:auto" alt="Desc">
                </div>
            </div>
            <div class="col-md-4 my-2 d-flex">
                <div class="card">
                    <img src=" uploads/trajet-covoiturage.jpg" class="card-img-top" style="width:400px; height:auto" alt="Desc">
                </div>
            </div>
        </div>
    </div>


{% endblock %}
