{% extends 'base.html.twig' %}

    {% block title %} Recharger mes crédits {% endblock %}

    {% block body %}
        <h1>Recharger mes crédits</h1>
        <p>Ici, vous pouvez ajouter un système de paiement ou un formulaire pour recharger vos crédits.</p>
    {% endblock %}
{% endblock %}